In [ ]:
# Step 0: Import lib 
import numpy as np
import pandas as pd 


# Step 1: Read Dataset
data =pd.read_csv('Housing_Price_Data.csv')
df = pd.DataFrame(data)

In [9]:
# Inspect the data structure
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [13]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [16]:
# 1. Identify numerical and categorical columns

numerical_cols = df.select_dtypes(include=['int64']).columns
print('numerical_cols => ',numerical_cols)
categorical_cols = df.select_dtypes(include=['object']).columns
print('categorical_cols => ',categorical_cols)

numerical_cols =>  Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking'], dtype='object')
categorical_cols =>  Index(['mainroad', 'guestroom', 'basement', 'hotwaterheating',
       'airconditioning', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [ ]:

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in categorical_cols:
    df[col] = le.fit_transform(df[col])


print(df.head())

      price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0  13300000  7420         4          2        3         1          0
1  12250000  8960         4          4        4         1          0
2  12250000  9960         3          2        2         1          0
3  12215000  7500         4          2        2         1          0
4  11410000  7420         4          1        2         1          1

   basement  hotwaterheating  airconditioning  parking  prefarea  \
0         0                0                1        2         1
1         0                0                1        3         0
2         1                0                0        2         1
3         1                0                1        3         1
4         1                0                1        2         0

   furnishingstatus
0                 0
1                 0
2                 1
3                 0
4                 0

In [22]:
# 3. Categorical Column Analysis:
# Display the number of unique categories in each categorical column.

for col in categorical_cols:
    print(f"Number of unique categories in column '{col}': {df[col].nunique()}")

Number of unique categories in column 'mainroad': 2
Number of unique categories in column 'guestroom': 2
Number of unique categories in column 'basement': 2
Number of unique categories in column 'hotwaterheating': 2
Number of unique categories in column 'airconditioning': 2
Number of unique categories in column 'prefarea': 2
Number of unique categories in column 'furnishingstatus': 3

In [23]:
for col in categorical_cols:
    print(f"Number of unique categories in column '{col}': {df[col].unique()}")

Number of unique categories in column 'mainroad': [1 0]
Number of unique categories in column 'guestroom': [0 1]
Number of unique categories in column 'basement': [0 1]
Number of unique categories in column 'hotwaterheating': [0 1]
Number of unique categories in column 'airconditioning': [1 0]
Number of unique categories in column 'prefarea': [1 0]
Number of unique categories in column 'furnishingstatus': [0 1 2]

In [ ]:
# 4. Missing Values:
# Check for missing values in each column.
# Calculate the percentage of missing values. 

missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100

missing_report = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': missing_percentage
})

print(missing_report)

                  Missing Values  Percentage
price                          0         0.0
area                           0         0.0
bedrooms                       0         0.0
bathrooms                      0         0.0
stories                        0         0.0
mainroad                       0         0.0
guestroom                      0         0.0
basement                       0         0.0
hotwaterheating                0         0.0
airconditioning                0         0.0
parking                        0         0.0
prefarea                       0         0.0
furnishingstatus               0         0.0

In [ ]:
# Validate 
# 3. Handle Missing Values
high_null_cols = missing_percentage[missing_percentage > 50].index
df = df.drop(columns=high_null_cols)

for col in categorical_cols:
    if df[col].isnull().sum() > 0:
        df[col].fillna(df[col].mode()[0], inplace=True)


for col in numerical_cols:
    if df[col].isnull().sum() > 0:
        skewness = df[col].skew()
        if abs(skewness) > 1: 
            df[col].fillna(df[col].median(), inplace=True)
        else: 
            df[col].fillna(df[col].mean(), inplace=True)

print("Remaining missing values:\n", df.isnull().sum())

Remaining missing values:
 price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [29]:

for col in numerical_cols:
    Q1 = df[col].quantile(0.25)  
    Q3 = df[col].quantile(0.75) 
    IQR = Q3 - Q1              
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    

    df[col] = df[col].clip(lower=lower_bound, upper=upper_bound)

In [32]:

std_devs = df[numerical_cols].std()

low_variance_cols = std_devs[std_devs < 0.01].index
print(f"Low-variance columns: {list(low_variance_cols)}")

Low-variance columns: []

In [33]:
# Features (X): All columns except the target column 'price'
X = df.drop(columns=['price'])

# Label (y): The target column 'price'
y = df['price']

# Check the shapes of X and y
print(f"Shape of Features (X): {X.shape}")
print(f"Shape of Label (y): {y.shape}")

Shape of Features (X): (545, 12)
Shape of Label (y): (545,)

In [52]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder



# 1. Ordinal Data: Use Label Encoding for 'furnishingstatus' (since it's an ordinal column with 3 categories)
label_encoder = LabelEncoder()
df['furnishingstatus'] = label_encoder.fit_transform(df['furnishingstatus'])

# 2. Check if the columns for high cardinality are present in the dataframe
high_cardinality_columns = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

# Check if these columns exist in the dataframe
missing_columns = [col for col in high_cardinality_columns if col not in df.columns]
if missing_columns:
    print(f"Missing columns: {missing_columns}")
else:
    # Apply One-Hot Encoding for the binary categorical columns (those with 2 values like 'mainroad', 'guestroom', etc.)
    df = pd.get_dummies(df, columns=high_cardinality_columns, drop_first=True)

# 3. Low to Medium Cardinality Columns: Use One-Hot Encoding for 'stories' and 'parking'
# Ensure that 'stories' and 'parking' columns exist before encoding
low_cardinality_columns = ['stories', 'parking']
missing_low_cardinality = [col for col in low_cardinality_columns if col not in df.columns]

if missing_low_cardinality:
    print(f"Missing low cardinality columns: {missing_low_cardinality}")
else:
    df = pd.get_dummies(df, columns=low_cardinality_columns, drop_first=True)


# print(df.head())
df.head()

Missing columns: ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']
Missing low cardinality columns: ['stories', 'parking']

,price,area,bedrooms,bathrooms,furnishingstatus,mainroad_1,guestroom_1,basement_1,hotwaterheating_1,airconditioning_1,prefarea_1,stories_2.0,stories_3.0,stories_3.5,parking_1.0,parking_2.0,parking_2.5
0,9205000,7420,4.0,2.0,0,True,False,False,False,True,True,False,True,False,False,True,False
1,9205000,8960,4.0,3.5,0,True,False,False,False,True,False,False,False,True,False,False,True
2,9205000,9960,3.0,2.0,1,True,False,True,False,False,True,True,False,False,False,True,False
3,9205000,7500,4.0,2.0,0,True,False,True,False,True,True,True,False,False,False,False,True
4,9205000,7420,4.0,1.0,0,True,True,True,False,True,False,True,False,False,False,True,False

In [53]:
from sklearn.model_selection import train_test_split

# Assuming 'df' is your DataFrame, and 'price' is the target variable
X = df.drop(columns=['price'])  # Features (all columns except 'price')
y = df['price']  # Target (the 'price' column)

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shape of the resulting datasets
print(f"Training data shape: {X_train.shape}, Test data shape: {X_test.shape}")
print(f"Training target shape: {y_train.shape}, Test target shape: {y_test.shape}")

Training data shape: (436, 16), Test data shape: (109, 16)
Training target shape: (436,), Test target shape: (109,)

In [54]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize the models
linear_model = LinearRegression()
decision_tree_model = DecisionTreeRegressor(random_state=42)
random_forest_model = RandomForestRegressor(random_state=42)

# Train the models on the training data
linear_model.fit(X_train, y_train)
decision_tree_model.fit(X_train, y_train)
random_forest_model.fit(X_train, y_train)

# Predict the results on the test data
y_pred_linear = linear_model.predict(X_test)
y_pred_tree = decision_tree_model.predict(X_test)
y_pred_forest = random_forest_model.predict(X_test)

# Evaluate the models using Mean Squared Error (MSE) and R^2 score
def evaluate_model(model_name, y_test, y_pred):
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(f"{model_name} - MSE: {mse:.4f}, R^2: {r2:.4f}")

# Evaluate the performance of each model
evaluate_model("Linear Regression", y_test, y_pred_linear)
evaluate_model("Decision Tree Regressor", y_test, y_pred_tree)
evaluate_model("Random Forest Regressor", y_test, y_pred_forest)

Linear Regression - MSE: 1296375172659.5054, R^2: 0.6791
Decision Tree Regressor - MSE: 2596013256880.7339, R^2: 0.3574
Random Forest Regressor - MSE: 1558283760707.9453, R^2: 0.6143

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Evaluate the models using MAE, MSE, and R^2
def evaluate_model(model_name, y_test, y_pred):
 
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    print(f"{model_name} Evaluation:")
    print(f"  Mean Absolute Error (MAE): {mae:.4f}")
    print(f"  Mean Squared Error (MSE): {mse:.4f}")
    print(f"  R-squared (R^2): {r2:.4f}")
    print("-" * 40)


y_pred_linear = linear_model.predict(X_test)
y_pred_tree = decision_tree_model.predict(X_test)
y_pred_forest = random_forest_model.predict(X_test)

evaluate_model("Linear Regression", y_test, y_pred_linear)
evaluate_model("Decision Tree Regressor", y_test, y_pred_tree)
evaluate_model("Random Forest Regressor", y_test, y_pred_forest)

Linear Regression Evaluation:
  Mean Absolute Error (MAE): 891676.3684
  Mean Squared Error (MSE): 1296375172659.5054
  R-squared (R^2): 0.6791
----------------------------------------
Decision Tree Regressor Evaluation:
  Mean Absolute Error (MAE): 1184669.7248
  Mean Squared Error (MSE): 2596013256880.7339
  R-squared (R^2): 0.3574
----------------------------------------
Random Forest Regressor Evaluation:
  Mean Absolute Error (MAE): 973089.2843
  Mean Squared Error (MSE): 1558283760707.9453
  R-squared (R^2): 0.6143
----------------------------------------